{% load static %}
<html>
    <head>
        <title>Praktikum CSS Yay</title>
        <link rel="stylesheet" href="{% static 'css/praktikum.css' %}"> 
    </head>
    <body> 
        <div id="header">
            <h1>Praktikum CSS Yay</h1> 
        </div>
        <div id="main">
            <div class="content_section">
                <p class="date">published: 31 September 2017</p> 
                <h2><a href="">Praktikum CSS ku</a></h2>
                <p id="content_1">Yay ini praktikum yang gampang!</p>
            </div>
            <div class="content_section">
                <p class="date ">published: 32 September 2017</p> 
                <h2><a href="">Praktikum CSS mu</a></h2>
                <p id="content_2">Yay ini praktikum yang mudah!</p>
            </div>
            <div class="content_section">
                <p>published: 33 September 2017</p>
                <h2><a href="">Praktikum CSS semua</a></h2>
                <p id="content_3">Yay ini praktikum yang tidak sulit!</p>
            </div>
        </div>
    </body>
</html>